{% extends "layouts/mvp.html" %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{% block header %}
{{ dwpHeader({
name: "Bereavement Support Payment",
serviceHref: '/',
container:true
}) }}

<div class="govuk-width-container">

{% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

  {{ 
    dwpHorizontalNavigation({
          selectedItem: "/mvp/disallowed",
          items: [
              {
                text: "Claim overview",
                href: "/mvp/home",
                id: "s-item-1"
              },
              {
                text: "Automated checks",
                href: "/mvp/automation",
                id: "/mvp/automation"
              },
              {
                text: "Relationship evidence",
                href: "/mvp/relationship",
                id: "/mvp/marriage"
              },
              {
                text: "Disallowed claims",
                href: "/mvp/disallowed",
                id: "/mvp/disallowed"
              },
              {
                text: "Changes to claims",
                href: "/mvp/changes",
                id: "/mvp/changes"
              }
          ]
      })
  }}

</div>

{% endblock %}

{% block pageTitle %}
  Disallowed claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="padding-top: 4px">
  
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date range
              </h1>
            </legend>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              From
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input value="01" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input value="06" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input value="2024" class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
          <br>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              To
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input value="01" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input value="01" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input value="2025" class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
  
  
        <div class="govuk-form-group">
        
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Channel
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                <label class="govuk-label govuk-checkboxes__label" for="type">
                  Online
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                  Telephone
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  Paper
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>
  
        <div class="govuk-form-group">
  
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Claim type
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="incomplete" checked>
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Married
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  Civil partnership
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                  Living together
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>
  
        {% from "govuk/components/button/macro.njk" import govukButton %}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Apply filters"
    }) }}
  
    {{ govukButton({
      text: "Clear filters",
      classes: "govuk-button--secondary"
    }) }}
  </div>
  
      </div>


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 14px;">Disallowed claims</h1>
        <p class="govuk-body">Between 1 June 2024 and 1 January 2025.<br>Filtered by: Online, Telephone, Married</p><br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Reason claim was dissallowed</caption>
          <thead class="govuk-table__head">
            <!-- <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Reason</th>
              <th scope="col" class="govuk-table__header">%</th>
            </tr>
          </thead> -->
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Deceased did not pay enough NI</th>
              <td class="govuk-table__cell">60 (20%)</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Claimant over State Pension age</th>
              <td class="govuk-table__cell">110 (37%)</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Not in an eligible relationship</th>
              <td class="govuk-table__cell">0 (0%)</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">No evidence of relationship</th>
              <td class="govuk-table__cell">40 (13%)</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">No evidence of death</th>
              <td class="govuk-table__cell">20 (6%)</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Late claim</th>
              <td class="govuk-table__cell">30 (10%)</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Claimant has no dependants and is not pregnant</th>
              <td class="govuk-table__cell">0 (0%)</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Claimant has no child benefit entitlement</th>
              <td class="govuk-table__cell">0 (0%)</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total</th>
              <td class="govuk-table__cell">300 (100%)</td>
            </tr>
          </tbody>
        </table>

        <br>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Export to CVS</a>
        </p>

      </div>
    </div>
  </main>
</div>


{% endblock %}
