{% extends "layouts/mvp.html" %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{% block header %}
{{ dwpHeader({
name: "Bereavement Support Payment",
serviceHref: '/',
container:true
}) }}

<div class="govuk-width-container">

  {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

  {{ 
    dwpHorizontalNavigation({
          selectedItem: "/mvp/home",
          items: [
              {
                text: "Claim overview",
                href: "/mvp/home",
                id: "s-item-1"
              },
              {
                text: "Automated checks",
                href: "/mvp/automation",
                id: "/mvp/automation"
              },
              {
                text: "Relationship evidence",
                href: "/mvp/relationship",
                id: "/mvp/marriage"
              },
              {
                text: "Disallowed claims",
                href: "/mvp/disallowed",
                id: "/mvp/disallowed"
              },
              {
                text: "Changes to claims",
                href: "/mvp/changes",
                id: "/mvp/changes"
              }
          ]
      })
  }}

</div>

{% endblock %}

{% block pageTitle %}
  Overview – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="padding-top: 4px">  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        <form class="form" action="/mvp/home-date" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date range
              </h1>
            </legend>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              From
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
          <br>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              To
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
  
  
        <div class="govuk-form-group">
        
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Channel
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                <label class="govuk-label govuk-checkboxes__label" for="type">
                  Online
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                  Telephone
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  Paper
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>
  
        <div class="govuk-form-group">
  
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Claim type
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete">
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Married
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  Civil partnership
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                  Living together
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>
  
        {% from "govuk/components/button/macro.njk" import govukButton %}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Apply filters"
    }) }}
  
    {{ govukButton({
      text: "Clear filters",
      classes: "govuk-button--secondary"
    }) }}
  </div>
  
      </div>


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 14px;">Claim overview</h1>
        <!-- <p class="govuk-body">Friday 21 February 2025.<br>Updated at 12:30pm.</p><br> -->
        <p class="govuk-body">Thursday 26 March 2025 at 12:30pm.</p><br>
        
        <div class="govuk-grid-row">
        
          <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-xl">Claims made</span>
            <h1 class="govuk-heading-xl">88</h1>
          </div>

        </div>

        <div class="govuk-grid-row">
        
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Added to Claim Manager</span>
            <h1 class="govuk-heading-l">60</h1>
          </div>

        </div>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Automatically</span>
            <h1 class="govuk-heading-l">55</h1>
          </div>

          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Manually</span>
            <h1 class="govuk-heading-l">5</h1>
          </div>


        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"><br>

        <div class="govuk-grid-row">
        
          <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-xl">Claims processed</span>
            <h1 class="govuk-heading-xl">48</h1>
          </div>

        </div>

        <h2 class="govuk-heading-m">Claim decision</h2>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Allowed</span>
            <h1 class="govuk-heading-l">38</h1>
          </div>

          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Dissallowed</span>
            <h1 class="govuk-heading-l">10</h1>
          </div>

        </div><br>

        <h2 class="govuk-heading-m">Claim rate</h2>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Standard</span>
            <h1 class="govuk-heading-l">30</h1>
          </div>

          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Higher</span>
            <h1 class="govuk-heading-l">8</h1>
          </div>

        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"><br>

        
        <h2 class="govuk-heading-m">Average actual clearance time</h2>
        <p class="govuk-body">Enter at date range of at least 5 days.</p>

        <br><br>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Export to CVS</a>
        </p>
        

      </div>
    </div>
  </main>
</div>


{% endblock %}
