{% extends "layouts/mvp.html" %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{% block header %}
{{ dwpHeader({
name: "Bereavement Support Payment",
serviceHref: '/',
container:true
}) }}

<div class="govuk-width-container">

  {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

  {{ 
    dwpHorizontalNavigation({
          selectedItem: "/mvp/relationship",
          items: [
              {
                text: "Claim overview",
                href: "/mvp/home",
                id: "s-item-1"
              },
              {
                text: "Automated checks",
                href: "/mvp/automation",
                id: "/mvp/automation"
              },
              {
                text: "Relationship evidence",
                href: "/mvp/relationship",
                id: "/mvp/marriage"
              },
              {
                text: "Disallowed claims",
                href: "/mvp/disallowed",
                id: "/mvp/disallowed"
              },
              {
                text: "Changes to claims",
                href: "/mvp/changes",
                id: "/mvp/changes"
              }
          ]
      })
  }}

</div>

{% endblock %}

{% block pageTitle %}
  Relationship – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="padding-top: 4px">
  
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date range
              </h1>
            </legend>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              From
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input value="01" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input value="04" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input value="2025" class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
          <br>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              To
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input value="01" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input value="06" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input value="2025" class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
  
  
        <div class="govuk-form-group">
        
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Channel
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                <label class="govuk-label govuk-checkboxes__label" for="type">
                  Online
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                  Telephone
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  Paper
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>
  
        <div class="govuk-form-group">
  
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Relationship
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="incomplete" checked>
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Married
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  Civil partnership
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                  Living together
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>
  
        {% from "govuk/components/button/macro.njk" import govukButton %}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Apply filters"
    }) }}
  
    {{ govukButton({
      text: "Clear filters",
      classes: "govuk-button--secondary"
    }) }}
  </div>
  
      </div>


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 14px;">Relationship evidence</h1>
        <p class="govuk-body">Between 1 April and 1 June 2025.<br>Filtered by: Online, Telephone, Married.</p>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Marriage
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Automated check
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                  50 (50%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Manual check
                </dt>
                <dd class="govuk-summary-list__value">
                  Life Event Verification (LEV)
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (10%)
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Marriage certificate
                </dd>
                <dd class="govuk-summary-list__actions">
                 20 (20%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Pension Strategy Computer System (PSCS)
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (10%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  National Insurance Recording System (NIRS)
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (10%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Relationship Validation Unit (RVU)
                </dd>
                <dd class="govuk-summary-list__actions">
                 0 (0%)
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Civil partnership
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Automated check
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                  5 (50%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Manual check
                </dt>
                <dd class="govuk-summary-list__value">
                  Life Event Verification (LEV)
                </dd>
                <dd class="govuk-summary-list__actions">
                 1 (10%)
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Civil partnership certificate
                </dd>
                <dd class="govuk-summary-list__actions">
                 2 (20%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Pension Strategy Computer System (PSCS)
                </dd>
                <dd class="govuk-summary-list__actions">
                 1 (10%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  National Insurance Recording System (NIRS)
                </dd>
                <dd class="govuk-summary-list__actions">
                 1 (10%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Relationship Validation Unit (RVU)
                </dd>
                <dd class="govuk-summary-list__actions">
                 0 (0%)
                </dd>
              </div>
            </dl>
          </div>
        </div> -->
        
       
        <!-- <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Living together
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Automated check
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                  5 (50%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Manual check
                </dt>
                <dd class="govuk-summary-list__value">
                  Searchlight
                </dd>
                <dd class="govuk-summary-list__actions">
                 1 (10%)
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  National Insurance Recording System (NIRS)
                </dd>
                <dd class="govuk-summary-list__actions">
                 2 (20%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Acceptable evidence seen in DRS
                </dd>
                <dd class="govuk-summary-list__actions">
                 2 (20%)
                </dd>
              </div>
            </dl>
          </div>
        </div> -->

        <br>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Export to CSV</a>
        </p>

  
      </div>
    </div>
  </main>
</div>


{% endblock %}
