{% extends "layouts/maintasklist-1.html" %}

{% block pageTitle %}
Verify claimant's identity - What do you want to do next? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Verify claimant’s identity
      </h1>

      <p class="govuk-body">
        You cannot process this claim until you verify the claimant's identity.
      </p>

      <form action="/donext-answer-1" method="post" novalidate>

        {{ govukRadios({
          name: "donext",
          values: data["donext"],
          fieldset: {
            legend: {
              text: "What do you want to do next?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            value: "callback",
            text: "Call again later"
          },
          {
            value: "wait",
            text: "Wait for evidence"
          },
          {
            divider: "or"
          },
          {
            value: "disallow",
            text: "Disallow claim"
          }
        ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>


{% endblock %}
