{% extends "layouts/mainstartclaim-1.html" %}

{% block pageTitle %}
  Start a claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/stp/tasklist" method="post">

    <h1 class="govuk-heading-l">Start a new claim</h1>

    <h2 class="govuk-heading-m" id="claimant-details">Claimant details</h2>

<div class="govuk-form-group">
  <label class="govuk-label" for="input-title">
  Title (optional)
  </label>
  <input class="govuk-input govuk-!-width-one-quarter" id="input-title" name="title" type="text">
  </div>
  
  
  <div class="govuk-form-group">
  <label class="govuk-label" for="input-fullName">
  Full name
  </label>
  <input class="govuk-input govuk-!-width-one-half" id="input-fullName" name="fullName" type="text">
  </div>
  
  
  <div class="govuk-form-group">
  <label class="govuk-label" for="input-nino">
  National Insurance number
  </label>
  <input class="govuk-input govuk-!-width-one-half" id="input-nino" name="nino" type="text">
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group">
    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
    Date of birth
    </legend>
    <div class="govuk-date-input" id="input-dateOfBirth">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="input-dateOfBirth-day">
          Day
        </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="input-dateOfBirth-day" name="dateOfBirthDay" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="input-dateOfBirth-month">
          Month
        </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="input-dateOfBirth-month" name="dateOfBirthMonth" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="input-dateOfBirth-year">
          Year
        </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="input-dateOfBirth-year" name="dateOfBirthYear" type="text" inputmode="numeric">
      </div>
    </div>
    </div>
    </fieldset>
    </div>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set marriageHtml %}
{{ govukDateInput({
  id: "dob",
  namePrefix: "dob",
  fieldset: {
    legend: {
      text: "Date of marrriage (optional)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2",
      autocomplete: "bday-day"
    },
    {
      name: "month",
      classes: "govuk-input--width-2",
      autocomplete: "bday-month"
    },
    {
      name: "year",
      classes: "govuk-input--width-4",
      autocomplete: "bday-year"
    }
  ]
}) }}
{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Country of marriage",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "england",
      text: "England"
    },
    {
      value: "scotland",
      text: "Scotland"
    },
    {
      value: "wales",
      text: "Wales"
    },
    {
      value: "northern-ireland",
      text: "Northern Ireland"
    },
    {
      divider: "or"
    },
    {
      value: "abroad",
      text: "Outside the UK"
    }
  ]
}) }}
{% endset -%}

{% set civilHtml %}
{{ govukDateInput({
  id: "dob",
  namePrefix: "dob",
  fieldset: {
    legend: {
      text: "Date of civil partnership (optional)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2",
      autocomplete: "bday-day"
    },
    {
      name: "month",
      classes: "govuk-input--width-2",
      autocomplete: "bday-month"
    },
    {
      name: "year",
      classes: "govuk-input--width-4",
      autocomplete: "bday-year"
    }
  ]
}) }}
{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Country of civil partnership",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "england",
      text: "England"
    },
    {
      value: "scotland",
      text: "Scotland"
    },
    {
      value: "wales",
      text: "Wales"
    },
    {
      value: "northern-ireland",
      text: "Northern Ireland"
    },
    {
      divider: "or"
    },
    {
      value: "abroad",
      text: "Outside of UK"
    }
  ]
}) }}
{% endset -%}


{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Relationship to the deceased",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "email",
      text: "Married",
      conditional: {
        html: marriageHtml
      }
    },
    {
      value: "phone",
      text: "Civil partnership",
      conditional: {
        html: civilHtml
      }
    },
    {
      value: "text",
      text: "Living together",
      conditional: {
        html: textHtml
      }
    }, 
    {
      divider: "or"
    },
    {
      value: "text",
      text: "None of these",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

<!-- <h2 class="govuk-heading-m" id="claimant-details">Dependent children</h2> -->

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
classes: "govuk-radios--inline",
name: "child",
fieldset: {
legend: {
  text: "Responsible for a child when partner died?",
  isPageHeading: true,
  classes: "govuk-fieldset__legend--s"
}
},
items: [
{
  value: "yes",
  text: "Yes"
},
{
  value: "no",
  text: "No"
}
]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
classes: "govuk-radios--inline",
name: "pregnant",
fieldset: {
legend: {
  text: "Pregnant when partner died?",
  isPageHeading: true,
  classes: "govuk-fieldset__legend--s"
}
},
items: [
{
  value: "yes",
  text: "Yes"
},
{
  value: "no",
  text: "No"
}
]
}) }}

<fieldset class="govuk-fieldset" data-module="address-lookup">
  <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
  Address
  </legend>
  <div aria-live="assertive">
    <div class="govuk-form-group govuk-!-margin-bottom-2 address-lookup__postcode-container">
  <label class="govuk-label" for="claimantPostcodeLookup">
  Postcode
  </label>
  <input class="govuk-input govuk-input--width-10 address-lookup__postcode" id="claimantPostcodeLookup" name="" type="text">
  </div>
  
  
    <button type="button" class="govuk-button govuk-button--secondary address-lookup__button govuk-!-margin-bottom-2" data-module="govuk-button" id="claimantPostcodeLookupSubmit">
  Find address
  </button>
  </div>
  
  <div class="address-lookup__results-container">
    <p class="address-lookup__results-count govuk-visually-hidden" aria-live="assertive"></p>
  </div>
  
  
  <details class="govuk-details address-lookup__details" data-module="govuk-details">
  <summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Enter address manually
  </span>
  </summary>
  <div class="govuk-details__text">
        <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  Address
  </legend>
  
  <div class="govuk-form-group">
  <label class="govuk-label" for="input-claimantAddressLineOne">
  Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
  </label>
  <input class="govuk-input govuk-!-width-two-thirds address-line-one" id="input-claimantAddressLineOne" name="claimantAddressLineOne" type="text">
  </div>
  
  
  <div class="govuk-form-group">
  <label class="govuk-label" for="input-claimantAddressLineTwo">
  <span class="govuk-visually-hidden">Building and street line 2 of 2 (optional)</span>
  </label>
  <input class="govuk-input govuk-!-width-two-thirds address-line-two" id="input-claimantAddressLineTwo" name="claimantAddressLineTwo" type="text">
  </div>
  
  
  <div class="govuk-form-group">
  <label class="govuk-label" for="input-claimantAddressCity">
  Town or city
  </label>
  <input class="govuk-input govuk-!-width-two-thirds address-town" id="input-claimantAddressCity" name="claimantAddressCity" type="text">
  </div>
  
  
  <div class="govuk-form-group">
  <label class="govuk-label" for="input-claimantAddressCounty">
  County (optional)
  </label>
  <input class="govuk-input govuk-!-width-two-thirds address-county" id="input-claimantAddressCounty" name="claimantAddressCounty" type="text">
  </div>
  
  
  <div class="govuk-form-group">
  <label class="govuk-label" for="input-claimantAddressCountry">
  Country (optional)
  </label>
  <input class="govuk-input govuk-!-width-two-thirds address-country" id="input-claimantAddressCountry" name="claimantAddressCountry" type="text">
  </div>
  
  
  <div class="govuk-form-group govuk-!-margin-bottom-2">
  <label class="govuk-label" for="input-claimantAddressPostcode">
  Postcode
  </label>
  <input class="govuk-input govuk-input--width-10 address-postcode" id="input-claimantAddressPostcode" name="claimantAddressPostcode" type="text">
  </div>
  </fieldset>
  </div>
  </details>
</fieldset>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="input-hasCommsNeeds-hint">
  <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
  Do they have any communication needs?
  </legend>
  <div id="input-hasCommsNeeds-hint" class="govuk-hint">
  For example, large print or textphone
  </div>
  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="input-hasCommsNeeds" name="hasCommsNeeds" type="radio" value="yes" aria-controls="conditional-communication-conditional" aria-expanded="false">
        <label class="govuk-label govuk-radios__label" for="input-hasCommsNeeds">
      Yes
    </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="input-hasCommsNeeds-2" name="hasCommsNeeds" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="input-hasCommsNeeds-2">
      No
    </label>
      </div>
  </div>
  
  </fieldset>
  </div>
  
<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-communication-conditional">
        
  <div class="govuk-form-group">
  <div id="input-communicationNeeds-hint" class="govuk-hint">
  <span class="govuk-!-font-weight-bold bold-small">Select all that apply</span>
  </div>
  <div class="govuk-checkboxes">
        
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="input-communicationNeeds" name="communicationNeeds" type="checkbox" value="braille" aria-describedby="input-communicationNeeds-hint">
            <label class="govuk-label govuk-checkboxes__label" for="input-communicationNeeds">
      Braille
    </label>
          </div>
        
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="input-communicationNeeds-2" name="communicationNeeds" type="checkbox" value="largePrint" aria-describedby="input-communicationNeeds-hint">
            <label class="govuk-label govuk-checkboxes__label" for="input-communicationNeeds-2">
      Large print
    </label>
          </div>
        
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="input-communicationNeeds-3" name="communicationNeeds" type="checkbox" value="audio" aria-describedby="input-communicationNeeds-hint">
            <label class="govuk-label govuk-checkboxes__label" for="input-communicationNeeds-3">
      Audio
    </label>
          </div>
        
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="input-communicationNeeds-4" name="communicationNeeds" type="checkbox" value="sign" aria-describedby="input-communicationNeeds-hint">
            <label class="govuk-label govuk-checkboxes__label" for="input-communicationNeeds-4">
      Sign language
    </label>
          </div>
        
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="input-communicationNeeds-5" name="communicationNeeds" type="checkbox" value="inductionLoop" aria-describedby="input-communicationNeeds-hint">
            <label class="govuk-label govuk-checkboxes__label" for="input-communicationNeeds-5">
      Induction Loop
    </label>
          </div>
        
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="input-communicationNeeds-6" name="communicationNeeds" type="checkbox" value="textPhone" aria-describedby="input-communicationNeeds-hint">
            <label class="govuk-label govuk-checkboxes__label" for="input-communicationNeeds-6">
      Textphone
    </label>
          </div>
        
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="input-communicationNeeds-7" name="communicationNeeds" type="checkbox" value="typeTalk" aria-describedby="input-communicationNeeds-hint">
            <label class="govuk-label govuk-checkboxes__label" for="input-communicationNeeds-7">
      Typetalk
    </label>
          </div>
        
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="input-communicationNeeds-8" name="communicationNeeds" type="checkbox" value="welsh" aria-describedby="input-communicationNeeds-hint">
            <label class="govuk-label govuk-checkboxes__label" for="input-communicationNeeds-8">
      Welsh
    </label>
          </div>
  </div>
  </div>
</div>


      <h2 class="govuk-heading-m" id="claimant-details">Deceased details</h2>

      <div class="govuk-form-group">
    <label class="govuk-label" for="input-partnerTitle">
    Title (optional)
    </label>
    <input class="govuk-input govuk-!-width-one-quarter" id="input-partnerTitle" name="partnerTitle" type="text">
    </div>
    
    
      <div class="govuk-form-group">
    <label class="govuk-label" for="input-partnerFullName">
    Full name
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="input-partnerFullName" name="partnerFullName" type="text">
    </div>
    
    
      <div class="govuk-form-group">
    <label class="govuk-label" for="input-partnerNino">
    National Insurance number
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="input-partnerNino" name="partnerNino" type="text">
    </div>
    
    
      
    
    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group">
    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
    Date of birth
    </legend>
    <div class="govuk-date-input" id="input-partnerDateOfBirth">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="input-partnerDateOfBirth-day">
          Day
        </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="input-partnerDateOfBirth-day" name="partnerDateOfBirthDay" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="input-partnerDateOfBirth-month">
          Month
        </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="input-partnerDateOfBirth-month" name="partnerDateOfBirthMonth" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="input-partnerDateOfBirth-year">
          Year
        </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="input-partnerDateOfBirth-year" name="partnerDateOfBirthYear" type="text" inputmode="numeric">
      </div>
    </div>
    </div>
    
    </fieldset>
    </div>
    
    
      
    
    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group">
    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
    What date did they die?
    </legend>
    <div class="govuk-date-input" id="input-dateOfDeath">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="input-dateOfDeath-day">
          Day
        </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="input-dateOfDeath-day" name="dateOfDeathDay" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="input-dateOfDeath-month">
          Month
        </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="input-dateOfDeath-month" name="dateOfDeathMonth" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="input-dateOfDeath-year">
          Year
        </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="input-dateOfDeath-year" name="dateOfDeathYear" type="text" inputmode="numeric">
      </div>
    </div>
    </div>
    
    </fieldset>
    </div>

    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

    {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {
        legend: {
          text: "Date of claim",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: ""
      }
    }) }}

    
    
    <br>
    
  


      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>


{% endblock %}
