{% extends "layouts/maintasklist-1.html" %}

{% block pageTitle %}
  Tasks to complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

      <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top:0">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <form action="/form-handler" method="post" novalidate>

                <span class="govuk-caption-xl">Robin Smith</span>
                <h1 class="govuk-heading-xl">AB124578C<br><strong class="govuk-tag govuk-tag--grey">UNFINISHED</strong></h1>

                <div class="govuk-tabs" data-module="govuk-tabs">
                  <h2 class="govuk-tabs__title">
                    Contents
                  </h2>
                  <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                      <a class="govuk-tabs__tab" href="#tasks">
                        Tasks to complete
                      </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                      <a class="govuk-tabs__tab" href="#details">
                        Claim details
                      </a>
                    </li>
                  </ul>
                  
                  <div class="govuk-tabs__panel" id="tasks" style="border: none;padding-left:0px">

      <ol class="govuk-prototype-kit-task-list">
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            Enter claim information
          </h2>
          <ul class="govuk-prototype-kit-task-list__items" style="padding-left:00px">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/stp-1/tasklist#details" aria-describedby="eligibility-status">
                  Claim details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="relationship-status">COMPLETED</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Relationship details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="payment-status">COMPLETED</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Payment details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="payment-status">COMPLETED</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Dependent children
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="address-status">COMPLETED</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
          Contact details
          </h2>
          <ul class="govuk-prototype-kit-task-list__items" style="padding-left:00px">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Address
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="death-status">COMPLETED</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                 Communication needs
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="relationship-status">COMPLETED</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
          Verify evidence
          </h2>
          <ul class="govuk-prototype-kit-task-list__items" style="padding-left:00px">
            <!-- <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Death
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="death-status">COMPLETED</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                 Relationship
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="relationship-status">COMPLETED</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  National Insurance contributions
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="ni-status">COMPLETED</strong>
            </li> -->


            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/stp-1/identity" aria-describedby="list-convictions-status">
                  Identity
                </a>
              </span>

              {% if (data['passedidentity1'] == "yes") %}

              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="address-status">COMPLETED</strong>

              {% else %}

              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="children-and-pregnancy-status">NOT STARTED</strong>
            
              {% endif %}
            </li>

            {% if (data['passedidentity1'] == "yes") %}
       
            <li>          
              <h2 class="govuk-prototype-kit-task-list__section">
             Submit claim
              </h2>
              <ul class="govuk-prototype-kit-task-list__items" style="padding-left:00px">
                <li class="govuk-prototype-kit-task-list__item">
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="" aria-describedby="contact-details-status">
                     Check and confirm
                    </a>
                  </span>
                </li>
              </ul>
            </li>
    
            {% endif %}

          </ul>
        </li>

      </ol>

      <button class="govuk-button govuk-button--warning" data-module="govuk-button">
        Delete claim
      </button>


                  </div>
                  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="details" style="border: none;padding-left:0px">
                    <h3 class="govuk-heading-m">Claimant details</h3>

                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Robin Smith
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          National Insurance number
                        </dt>
                        <dd class="govuk-summary-list__value">
                          AB124578C
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                          10 September 1980
                        </dd>
                      </div>
                    </dl>

                    <h3 class="govuk-heading-m">Deceased details</h3>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Alex Smith
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          National Insurance number
                        </dt>
                        <dd class="govuk-summary-list__value">
                        CB123456E
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Date of death
                        </dt>
                        <dd class="govuk-summary-list__value">
                        30 April 2025
                        </dd>
                      </div>
                    </dl>

                    <h3 class="govuk-heading-m">Date of claim</h3>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Date of claim
                        </dt>
                        <dd class="govuk-summary-list__value">
                          16 May 2025
                        </dd>
                      </div>
                    </dl>

                    <h3 class="govuk-heading-m">Payment details</h3>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Name on account
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Robin Smith
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Sort code
                        </dt>
                        <dd class="govuk-summary-list__value">
                          123456
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Account number
                        </dt>
                        <dd class="govuk-summary-list__value">
                          12345678
                        </dd>
                      </div>
                    </dl>

                    <h3 class="govuk-heading-m">Contact details</h3>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                          20 River Road<br>Edinburgh<br>AB12 3CD
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Communication needs
                        </dt>
                        <dd class="govuk-summary-list__value">
                          None
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                    </dl>

                    <h3 class="govuk-heading-m">Relationship</h3>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Relationship
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Married
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Country
                        </dt>
                        <dd class="govuk-summary-list__value">
                          England
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Certificate ID
                        </dt>
                        <dd class="govuk-summary-list__value">
                        575982
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Date 
                        </dt>
                        <dd class="govuk-summary-list__value">
                          22 Decemeber 2016
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                    </dl>

                    <h3 class="govuk-heading-m">Death</h3>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Evidence
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Certificate
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Date
                        </dt>
                        <dd class="govuk-summary-list__value">
                          7 May 2023
                        </dd>
                      </div>
                    </dl>
                    
                    <h3 class="govuk-heading-m">National insurance contributions</h3>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          Year
                        </dt>
                        <dd class="govuk-summary-list__value">
                          2021
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                    </dl>

                  </div>
</div>


              </form>
            </div>

            <div class="govuk-grid-column-one-third">

              <h2 class="govuk-heading-m">Claim history</h2><br>

              <div class="dwp-timeline">
                <ol class="dwp-timeline__items">

                  {% if (data['passedidentity1'] == "yes") %}

                  <li class="dwp-timeline__item">
                    <h2 class="dwp-timeline__heading">Identity verified</h2>
                    <p class="dwp-timeline__by-line">By [Agents name]</p>
                    <p class="dwp-timeline__datetime">16 May 2025</p>
                  </li>

                  {% endif %}
                
                  <li class="dwp-timeline__item">
                    <h2 class="dwp-timeline__heading">Relationship verified</h2>
                    <p class="dwp-timeline__datetime">16 May 2025</p>
                  </li>
                  <li class="dwp-timeline__item">
                    <h2 class="dwp-timeline__heading">Contributions verified</h2>
                    <p class="dwp-timeline__datetime">16 May 2025</p>
                  </li>
                  <li class="dwp-timeline__item">
                    <h2 class="dwp-timeline__heading">Death verified</h2>
                    <p class="dwp-timeline__datetime">16 May 2025</p>
                  </li>
                  <li class="dwp-timeline__item">
                    <h2 class="dwp-timeline__heading">Deceased details verified</h2>
                    <p class="dwp-timeline__datetime">16 May 2025</p>
                  </li>
                  <li class="dwp-timeline__item">
                    <h2 class="dwp-timeline__heading">Claim details verified</h2>
                    <p class="dwp-timeline__datetime">16 May 2025</p>
                  </li>
                <li class="dwp-timeline__item">
                  <h2 class="dwp-timeline__heading">Relationship details recorded</h2>
                  <p class="dwp-timeline__datetime">16 May 2025</p>
                </li>
                <li class="dwp-timeline__item">
                  <h2 class="dwp-timeline__heading">Communication needs recorded</h2>
                  <p class="dwp-timeline__datetime">16 May 2025</p>
                </li>
                <li class="dwp-timeline__item">
                  <h2 class="dwp-timeline__heading">Address recorded</h2>
                  <p class="dwp-timeline__datetime">16 May 2025</p>
                </li>
                <li class="dwp-timeline__item">
                  <h2 class="dwp-timeline__heading">Claim details recorded</h2>
                  <p class="dwp-timeline__datetime">16 May 2025</p>
                </li>
                </ol>
              </div>

            </div>
        </main>
      </div>

{% endblock %}
