{% extends "layouts/maintasklist-1.html" %}

{% block pageTitle %}
  Start a claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/stp/claim-disallowed" method="post">

      <h1 class="govuk-heading-l">You are about to disallow this claim</h1>

      <p class="govuk-body">You cannot verify the claimant's identity.</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Disallow claim",
  classes: "govuk-button--warning"
}) }}

<p class="govuk-body">
  <a href="/stp/identity" class="govuk-link govuk-link--no-visited-state">Cancel</a>
</p>

    </form>

  </div>
</div>


{% endblock %}
