{% extends "layouts/maintasklist.html" %}

{% block pageTitle %}
  Start a claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/stp/tasklist" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set detailsHtml %}

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    Type of account
  </legend>
  <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="radio-accountType-0" name="accountType" type="radio" value="UKBank">
          <label class="govuk-label govuk-radios__label" for="radio-accountType-0">
        Bank account
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="radio-accountType-1" name="accountType" type="radio" value="UKBuildingSociety" aria-controls="conditional-roll-number-conditional" aria-expanded="false">
          <label class="govuk-label govuk-radios__label" for="radio-accountType-1">
        Building society account
      </label>
        </div>
  </div>
</fieldset><br>

{{ govukInput({
  label: {
    text: "Name on the account"
  },
  classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
  id: "name-on-the-account",
  name: "nameOnTheAccount",
  autocomplete: "name",
  spellcheck: false
}) }}

{{ govukInput({
  label: {
    text: "Sort code"
  },
  classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
  id: "sort-code",
  name: "sortCode",
  inputmode: "numeric",
  spellcheck: false
}) }}

{{ govukInput({
  label: {
    text: "Account number"
  },
  classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
  id: "account-number",
  name: "accountNumber",
  inputmode: "numeric",
  spellcheck: false
}) }}


{% endset -%}
     
      {{ govukRadios({
        name: "payment",
        fieldset: {
          legend: {
            text: "Has the claimant provided payment details?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: detailsHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>


{% endblock %}
