{% extends "layouts/mvp.html" %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{% block header %}
{{ dwpHeader({
name: "Bereavement Support Payment",
serviceHref: '/',
container:true
}) }}

<div class="govuk-width-container">

  {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

  {{ 
    dwpHorizontalNavigation({
          selectedItem: "/mvp-1/automation",
          items: [
              {
                text: "Automated checks",
                href: "/mvp-1/automation",
                id: "/mvp/automation"
              }
          ]
      })
  }}

</div>

<!-- <div class="govuk-width-container">

  {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

  {{ 
    dwpHorizontalNavigation({
          selectedItem: "/mvp/automation",
          items: [
              {
                text: "Claim overview",
                href: "/mvp/home",
                id: "s-item-1"
              },
              {
                text: "Automated checks",
                href: "/mvp/automation",
                id: "/mvp/automation"
              },
              {
                text: "Relationship evidence",
                href: "/mvp/relationship",
                id: "/mvp/marriage"
              },
              {
                text: "Disallowed claims",
                href: "/mvp/disallowed",
                id: "/mvp/disallowed"
              },
              {
                text: "Changes to claims",
                href: "/mvp/changes",
                id: "/mvp/changes"
              }
          ]
      })
  }}

</div> -->

{% endblock %}

{% block pageTitle %}
  Automated checks – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="padding-top: 4px">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date range
              </h1>
            </legend>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              From
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input value="4" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input value="4" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input value="2025" class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
          <br>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              To
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input value="7" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input value="4" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input value="2025" class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
  
  
        <!-- <div class="govuk-form-group">
        
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Channel
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                <label class="govuk-label govuk-checkboxes__label" for="type">
                  Online
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                  Telephone
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3" checked>
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  Paper
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>
  
        <div class="govuk-form-group">
  
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Relationship
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="incomplete">
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Married
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  Civil partnership
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress" checked>
                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                  Living together
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>
   -->
        {% from "govuk/components/button/macro.njk" import govukButton %}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Filter dates"
    }) }}
  
    {{ govukButton({
      text: "Clear dates",
      classes: "govuk-button--secondary"
    }) }}
  </div>
  
      </div>


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 14px;">Automated checks</h1>
        <p class="govuk-body">Between 4 April 2024 and 7 April 2025.</p>
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why some automated checks may show more results
            </span>
          </summary>
          <div class="govuk-details__text">
            Results depend on when each automated check to process an application was added.<br><br>
            Marriage and civil partnership was added 3 April 2025.
          </div>
        </details>

        <!-- <p class="govuk-body">Between 1 June 2024 and 1 January 2025.<br>Filtered by: Online, Paper, Living together.</p><br> -->


        <!-- <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              All automated checks
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Successful checks
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                 2 (20%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Failed checks
                </dt>
                <dd class="govuk-summary-list__value">
                 
                </dd>
                <dd class="govuk-summary-list__actions">
                  8 (80%)
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              National Insurance contributions
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Successful checks
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                 90 (90%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Failure reasons
                </dt>
                <dd class="govuk-summary-list__value">
                  system down
                </dd>
                <dd class="govuk-summary-list__actions">
                  10 (1%)
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  could not find based on NI 
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (1%)
                </dd>
              </div>
            </dl>
          </div>
        </div> -->


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Marriage
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Successful checks
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                50 (50%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Failure reasons
                </dt>
                <dd class="govuk-summary-list__value">
                  More than one match
                </dd>
                <dd class="govuk-summary-list__actions">
                 30 (30%)
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Cannot match enough data from returned records
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (10%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  No records returned
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (10%)
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Civil partnership
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Successful checks
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                60 (60%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Failure reasons
                </dt>
                <dd class="govuk-summary-list__value">
                  More than one match
                </dd>
                <dd class="govuk-summary-list__actions">
                 20 (20%)
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Cannot match enough data from returned records
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (10%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  No records returned
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (10%)
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Child Benefit
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Successful checks
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                 80 (78%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Failure reasons
                </dt>
                <dd class="govuk-summary-list__value">
                  System error
                </dd>
                <dd class="govuk-summary-list__actions">
                 20 (15%)
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  Unkown error
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (7%)
                </dd>
              </div>
            </dl>
          </div>
        </div> -->

        <!-- <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Residency
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Successful checks
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                  40 (56%)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Failure reasons
                </dt>
                <dd class="govuk-summary-list__value">
                  Names don't match
                </dd>
                <dd class="govuk-summary-list__actions">
                 10 (16%)
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  
                </dt>
                <dd class="govuk-summary-list__value">
                  System error
                </dd>
                <dd class="govuk-summary-list__actions">
                 20 (28%)
                </dd>
              </div>
            </dl>
          </div>
        </div> -->

        <!-- <br>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Export to CSV</a>
        </p> -->
       
      </div>
    </div>
  </main>
</div>


{% endblock %}
