{% extends "layouts/main2.html" %}

{% block header %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
  dwpHeader({
      serviceName: "Bereavement Support Payment",
      serviceHref: '/index',
      container: true,
      navigation: {
        selectedItem: "/mi/made/home",
        items: [
            {
                href: "/mi/made/home",
                text: "Claims made"
            },
            {
                href: "/mi/processed/home",
                text: "Processed claims"
            },
            {
                href: "/mi/outstanding/home",
                text: "Outstanding claims"
            }
        ]
    }  
  })
}}


<div class="govuk-width-container">

{% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

  {{ 
    dwpHorizontalNavigation({
          selectedItem: "/mi/made/home",
          items: [
              {
                text: "Overview",
                href: "/mi/made/home",
                id: "s-item-1"
              },
              {
                text: "Digital uptake",
                href: "/mi/made/digital-uptake",
                id: "/mi/made/digital-uptake"
              },
              {
                text: "item 3",
                href: "",
                id: "s-item-3"
              },
              {
                text: "item 4",
                href: "/mi/processed/changes",
                id: "s-item-4"
              }
          ]
      })
  }}

</div>

{% endblock %}

{% block pageTitle %}
  Claims made overview – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="padding-top: 4px">
    <!-- <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">From</span>
        <h1 class="govuk-heading-l" style="margin-bottom: 10px;">1 June 2024</h1>
        <span class="govuk-caption-l">To</span>
        <h1 class="govuk-heading-l">1 January 2025</h1>
      </div>
    </div> -->
  
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date range
              </h1>
            </legend>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              From
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input value="1" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input value="6" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input value="2024" class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
          <br>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              To
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input value="1" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input value="1" class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input value="2025" class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
  
  
        <div class="govuk-form-group">
  
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Claim type
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="incomplete">
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Married
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  Civil partnership
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                  Living together
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>

        <div class="govuk-form-group">
        
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Country
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                <label class="govuk-label govuk-checkboxes__label" for="type">
                  England
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                  Scotland
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  Wales
                </label>
  
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  Northern Ireland
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>

        <div class="govuk-form-group">
        
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
              Age range
  
            </legend>
  
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                <label class="govuk-label govuk-checkboxes__label" for="type">
                  16-24
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                  35-44
                </label>
  
              </div>
  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  45-54
                </label>
  
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  55-64
                </label>
  
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  65+
                </label>
  
              </div>
  
            </div>
  
          </fieldset>
  
        </div>
  
       
  
        {% from "govuk/components/button/macro.njk" import govukButton %}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Apply filters"
    }) }}
  
    {{ govukButton({
      text: "Clear filters",
      classes: "govuk-button--secondary"
    }) }}
  </div>
  
      </div>


      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Claims made</span>
        <h1 class="govuk-heading-xl">23190</h1>   

        <h1 class="govuk-heading-m">Channel split</h1>

        <p class="govuk-body">The percentage of applications made by each channel between 1 June 2024 and 1 January 2025.</p>

        <img class="govuk-!-text-align-left" id="graph-by-channel" src="/public/images/graph-by-channel.png" alt="Graph split by channel." style="width: 630px">
       
        <br><br>
        <!-- <h1 class="govuk-heading-m">Type of claim</h1> -->
    </div>
  </main>
</div>


{% endblock %}
