{% extends "layouts/maintasklist.html" %}

{% block pageTitle %}
  Start a claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/identity-answer" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
     
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "passedidentity",
        fieldset: {
          legend: {
            text: "Did you verify the claimant's identity?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
  

    </form>

  </div>
</div>


{% endblock %}
