{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Claim Manager prototype
    </h1>
    
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Agent UR: Automated checks & identity task
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">Claim Manager will be updated as we introduce automated checks and an identity task.</p>

          <p class="govuk-body">
            <a href="/stp/start-a-new-claim-reorder" class="govuk-link govuk-link--no-visited-state">Start a claim</a>
          </p>
          <p class="govuk-body">
            <a href="/stp-1/find-a-claim" class="govuk-link govuk-link--no-visited-state">Find a claim</a>
          </p>
         
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Team data dashboard designs
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">Iterated designs of how we will present data that helps us measure the success of our service.<br><br>A decision was made that this will not live in Claim Manager.</p>
          <p class="govuk-body">
            <a href="/mvp-1/automation" class="govuk-link govuk-link--no-visited-state">Marriage and CP automated check page only</a><br><br>
            <a href="/mvp/home" class="govuk-link govuk-link--no-visited-state">MVP team dashboard design</a><br><br>
            <a href="/mi/processed/home" class="govuk-link govuk-link--no-visited-state">Team dashbaord design concepts</a><br><br>
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Agent UR: Verifying ChB entitlement on CM
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content">
          <p class="govuk-body">The aim of this research (w/c 05.06.23) is to test an agents journey to verify Child Benefit. Existing content has been updated to align with policy.</p>
          <p class="govuk-body">Iterations include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>restructure of agent tasks</li>
            <li>new 'claim complete' page</li>
            <li>new content on claim history.</li>
          </ul><br>    
          <button onclick="javascript:location.href='/cb-flow-1/claim-tasklist'" class="govuk-button" data-module="govuk-button">
            Journey A
          </button>
          <button onclick="javascript:location.href='/cb-flow-2/claim-tasklist'" class="govuk-button" data-module="govuk-button">
            Journey B
          </button>
          <button onclick="javascript:location.href='/payment-flow/claim-tasklist'" class="govuk-button" data-module="govuk-button">
            Journey C
          </button>
        </div>
      </div>
    </div>
              
  </div>
</div>

{% endblock %}
