{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{{ dwpHeader({
name: "Manage Bereavement Support Payment",
serviceHref: '/',
container:true
}) }}


<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" style="font-weight: normal; color: black" href="/stp-1/start-a-new-claim-reorder">Start a new claim</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" style="font-weight: normal; color: black" href="/stp-1/find-a-claim">Find a claim</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>

<!-- 
<div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Start a new claim
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Find a claim
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div> -->

{% endblock %}